img{
    width:150px;Height:150px;
}

Body{
background-color:yellow;
}
h1{

    font-size:50px;
}
ul{
    font-size:25px;
}
body{
    font-family: 'Poor Story', cursive;
}
p{
    font-size:25px;
}



